/* Estilos para telas maiores */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.search_form {
  max-width: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.search_form input {
  margin-right: 10px;
  width: 50%;
}

.noposts {
  text-align: center;
}

.noposts p {
  margin-bottom: 1.5em;
}

.noposts a {
  padding: 10px 25px;
}

/* Estilos para telas menores (por exemplo, dispositivos móveis) */
@media screen and (max-width: 768px) {
  .search_form {
    width: 80%; /* Reduz a largura do formulário */
    flex-direction: column; /* Alinha verticalmente os elementos do formulário */
    align-items: center;
    overflow-x: hidden;
  }

  .search_form input {
    margin-right: 0; /* Remove a margem direita dos inputs */
    margin-bottom: 10px; /* Adiciona margem inferior para separar os inputs */
    width: 100%;
    overflow-x: hidden;
  }
}
