/* Estilos para telas maiores, como desktops */
.post_container {
  text-align: center;
}

.post_container h3 {
  margin-bottom: .2em;
}

.post_container .tags {
  display: flex;
  justify-content: center;
}

.tags p {
  margin-right: 1em;
}

.tags span {
  font-weight: bold;
}

/* Estilos para telas menores, como celulares */
@media (max-width: 768px) {
  .post_container {
    text-align: left; /* Alinhe o texto à esquerda em telas menores */
  }

  .tags {
    flex-wrap: wrap; /* Faça as tags envolverem para a próxima linha */
    justify-content: flex-start; /* Alinhe as tags à esquerda */
  }

  .tags p {
    margin-right: 0; /* Remova a margem direita das tags */
    margin-bottom: 0.5em; /* Adicione uma margem inferior para separar as tags */
  }
}
